body {
    min-width: 1280px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0 auto;
    height: 100%;
}

.page {
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.content-wrapper {
    width: 85%;
    margin: 0 auto;
    position: relative;
    background-color: #FFF;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 30px;
}

.section-field_one {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 40px;
}

.field-left {
    float: left;
    width: 50%;
    box-sizing: border-box;
    margin: 0 auto;
    height: 36px;
}

.section-field_one .field-left img {
    margin: 0 auto;
    display: block;
    margin-top: 4px;
}

.section-field_one .field-right {
    float: right;
    width: 50%;
    position: relative;
    display: flex;
    box-sizing: border-box;
    height: 36px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.header div {
    width: 250px;
    line-height: 36px;
}

.header div:hover {
    cursor: pointer;
    transition: 1s;
    font-weight: bold;
}

.page-field {
    background: url(img/billboard_bg.png) no-repeat;
    width: 100%;
    height: 614px;
    background-size: cover;
    position: relative;
}

.page-field-text {
    position: absolute;
    color: white;
    font-family: 'Lemonada', cursive;
    right: 310px;
    left: 380px;
    top: 210px;
    bottom: 200px;
    text-align: center;
}

.page-field-text p {
    font-size: 30px;
}

.page-field-text span {
    font-size: 20px;
}

.the-menu {
    text-align: center;
    height: 40px;
    margin: 0 auto;
    position: relative;
}

.the-menu h3 {
    background-color: #f34949;
    color: #FFF;
    width: 152px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
}

.the-menu img {
    position: absolute;
    right: 498px;
    top: 40px;
    width: 152px;
    left: 50%;
    margin-left: -76px;
}

.section-field_two {
    position: relative;
    width: 80%;
    height: 445px;
    margin: 0 auto;
    font-size: 14px;
}

.field-left {
    width: 40%;
    margin: 0 auto;
    float: left;
    height: 100%;
}

.field-right {
    width: 40%;
    float: right;
    margin: 0 auto;
    height: 100%;
}

.first-block-left {
    display: flex;
    margin-top: 50px;
    height: 56px;
}

.box1 {
    width: 545px;
    line-height: 1px;
    max-width: 465px;
}

.box1 h4 {
    font-family: 'Lato', sans-serif;
}

.box1 span {
    color: grey;
    font-family: 'Playfair Display', serif;
}

.box2 span {
    color: darkgray;
}

.box2 {
    width: 341px;
    margin: 0 auto;
    padding-top: 10px;
}

.box3 {
    width: 50px;
    padding-top: 13px;
}

.box3 span {
    font-family: 'Lato', sans-serif;
}

.second-block-left {
    display: flex;
    margin-top: 50px;
    height: 56px;
}

.third-block-left {
    display: flex;
    margin-top: 50px;
    height: 56px;
}

.fourth-block-left {
    display: flex;
    margin-top: 50px;
    height: 56px;
}

.loading-button {
    position: relative;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 45px;
    font-family: 'Playfair Display', serif;
}

.existing-button {
    width: 120px;
    border: 1px solid darkgray;
    margin: 0 auto;
}

.existing-button:hover {
    background: black;
    color: white;
    font-weight: bold;
    transition: 1s;
    cursor: pointer;
}

.featured-dishes {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 80%;
    height: 50px;
}

.dishes {
    display: flex;
    height: 180px;
    width: 80%;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}

.pic1 img{
    width: 75%;
}

.gallery-header {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 80%;
    margin-top: 50px;
}

.thegallery {
    width: 80%;
    height: 400px;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
}

.left-gallery {
    width: 33%;
    background-image: url(img/img5.jpg);
    height: 357px;
    max-height: 357px;
    background-size: cover;
}

.left-gallery img {
    height: 100px;
}

.mid-gallery {
    width: 33%;
    height: 357px;
}

.mid-gallery-left {
    height: 50%;
    background-size: cover;
    background: url(img/Gallery_img_4.jpg);
    background-repeat: round;
}

.mid-gallery-right {
    height: 50%;
    background-size: cover;
    background: url(img/gallery_img_3.jpg);
    background-repeat: round;
}

.right-gallery {
    width: 33%;
    height: 357px;
}

.right-gallery-left {
    width: 100%;
    height: 50%;
    background: url(img/gallery_img_1.jpg);
    background-size: cover;
    background-repeat: round;
}

.right-gallery-right {
    width: 100%;
    height: 50%;
    background: url(img/gallery_img_2.jpg);
    background-size: cover;
    background-repeat: round;
}

.font-grey {
    background-color: #3b3b3b;
    width: 100%;
    height: 215px;
    margin: 0 auto;
    text-align: center;
}

.bot-info {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    color: white;
    font-family: 'Playfair Display', serif;
}

.bot-info div {
    margin-top: 32px;
}

.left-bottom-section {
    float: left;
    width: 20%;
}

.mid1-bottom-section {
    float: left;
    width: 20%;
}

.mid2-bottom-section {
    float: left;
    width: 20%;
}

.mid2-bottom-section p:hover {
    font-weight: bold;
    cursor: pointer;
}

.right-bottom-section {
    float: right;
    width: 20%;
}

.right-bottom-section span:hover {
    font-weight: bold;
    cursor: pointer;
}

.finish {
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 35px;

}