body {
    min-width: 1280px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0 auto;
    height: 100%;
}

.page {
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.content-wrapper {
    width: 85%;
    margin: 0 auto;
    position: relative;
    background-color: #FFF;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 30px;
}

.section-field_one {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 40px;
}

.field-left {
    float: left;
    width: 50%;
    box-sizing: border-box;
    margin: 0 auto;
    height: 36px;
}

.section-field_one .field-left img {
    margin: 0 auto;
    display: block;
    margin-top: 4px;
}

.section-field_one .field-right {
    float: right;
    width: 50%;
    position: relative;
    display: flex;
    box-sizing: border-box;
    height: 36px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.header div {
    width: 250px;
    line-height: 36px;
}

.header div:hover {
    cursor: pointer;
    transition: 1s;
    font-weight: bold;
}

.page-field {
    background: url(img/billboard_bg.png) no-repeat;
    width: 100%;
    height: 614px;
    background-size: cover;
}

.the-menu {
    text-align: center;
    height: 40px;
    margin: 0 auto;
    position: relative;
}

.the-menu h3 {
    background-color: #f34949;
    color: #FFF;
    width: 152px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
}

.the-menu img {
    position: absolute;
    right: 498px;
    top: 40px;
    width: 152px;
    left: 50%;
    margin-left: -76px;
}

.section-field_two {
    position: relative;
    width: 80%;
    height: 445px;
    margin: 0 auto;
    font-size: 14px;
}

.field-left {
    width: 40%;
    margin: 0 auto;
    float: left;
    height: 100%;
}

.field-right {
    width: 40%;
    float: right;
    margin: 0 auto;
    height: 100%;
}

.first-block-left {
    display: flex;
    margin-top: 50px;
    height: 56px;
}

.box1 {
    width: 465px;
    line-height: 1px;
    max-width: 465px;
}

.box1 h4 {
    font-family: 'Lato', sans-serif;
}

.box1 span {
    color: grey;
    font-family: 'Playfair Display', serif;
}

.box2 span {
    color: darkgray;
}

.box2 {
    width: 341px;
    margin: 0 auto;
    padding-top: 10px;
}

.box3 {
    width: 50px;
    padding-top: 13px;
}

.box3 span {
    font-family: 'Lato', sans-serif;
}

.second-block-left {
    display: flex;
    margin-top: 50px;
    height: 56px;
}

.third-block-left {
    display: flex;
    margin-top: 50px;
    height: 56px;
}

.fourth-block-left {
    display: flex;
    margin-top: 50px;
    height: 56px;
}